* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: YuMincho, 'Yu Mincho', serif;
}

.TopLogo{
  text-align: center;
}

.TopLogo img{
  width: 18rem;
  margin-top: 2.5rem;
}

.TopPicture{
  text-align: center;
}

.TopPicture iframe{
  width: 70rem;
  height: 35rem;
  margin-top: 2.5rem;
}

nav{
  text-align: center;
}

nav li {
    margin-top: 2rem;
  width: 140px;
  float: left;
}

nav li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
