* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: YuMincho, 'Yu Mincho', serif;
}

.TopLogo {
  text-align: center;
}

.TopLogo img {
  width: 18rem;
  margin-top: 2.5rem;
}

.TopPicture {
  text-align: center;
}

.TopPicture iframe {
  width: 70rem;
  height: 35rem;
  margin-top: 2.5rem;
}

/*
nav {
  margin-left: 25%;
}

nav ul{
  text-align: center;
}

nav li {
  width: 140px;
  float: left;
  margin: auto;
}

nav li a {
  color: black;
  font-weight: bold;
  letter-spacing: 0.2rem;
}

*/



main h1{
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
}
